@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html {

  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Program", sans-serif;
  font-style: normal;
  font-weight: 200;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.nav li {
  display: inline-block;
  list-style-type: none;
}

.nav {
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: center;
  color: black;
}

.nav a {
  color: black;
  display: inline-block;
  padding: .5em 2%;
  text-decoration: none;
}

.image {
  width: 100%;
}

.img1 {
  margin: 0;
  display: inline-block;
  width: 99%;
  padding: 1%;
}

.img2 {
  margin: 0;
  width: 99%;
  padding: 1%;
}

.img3 {
  margin: 0;
  width: 99%;
  padding: 1%;
}

.s1 {
  float: left;
  vertical-align: top;
  width: 33.3%;
}

.s2 {
  float: left;
  vertical-align: top;
  width: 33.3%;
}

.s3 {
  float: left;
  vertical-align: top;
  width: 33.3%;
}
